/* Case Project 6 - Map & Weather CSS */

body 
    .layout { display: flex; gap: 20px; align-items: flex-start; }
    .content { flex: 1; }


.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content {
  flex: 1;
}


/* THE FRAME */
#map {
   height: 750px; 
   width: 900px;
   border: 10px solid white; 
   border-radius: 15px;
   box-shadow: 0 4px 15px rgba(0,0,0,0.2);
   outline: 1px solid #ccc;
}
 
